 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Toy name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Dragon Hero">
        </div>
        
        <div class="form-group">
            <label for="Category" class="text-light">Category</label>
            <input type="text" name="category" value="" placeholder="Animals/Lego/Action figures/Electronic">
        </div>

        <div class="form-group">
            <label for="Price" class="text-light">Price (USD)</label>
            <input type="text" name="price" value="" placeholder="2000">
        </div>
        
        <div class="form-group">
            <label for="gender" class="text-light">Ages</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="ages" value="8+" >
                <label for="radio-2" class="radio-label">8+</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="ages" value="14+" >
                <label for="radio-3" class="radio-label">14+</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>